In [3]:
from os.path import abspath
from pyspark.sql import SparkSession

# enableHiveSupport() -> enables spark session to connect with Hive
warehouse_location = abspath('spark-warehouse')

spark = SparkSession \
    .builder \
    .appName('SparkByExample.com') \
    .config('spark.sql.warehouse.dir', warehouse_location) \
    .enableHiveSupport() \
    .getOrCreate()

23/05/06 20:16:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [4]:
df = spark.sql('select * from emp.employee')
df.show()

23/05/06 20:16:17 WARN ObjectStore: Failed to get database emp, returning NoSuchObjectException

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `emp`.`employee` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [emp, employee], [], false